echo "myenv/" > .gitignore 
echo "__pycache__/" >> .gitignore
echo "*.pyc" >> .gitignore
echo ".DS_Store" >> .gitignore
echo ".ipynb_checkpoints/" >> .gitignore
myenv/
# Virtual environment

venv/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Data files

*.h5

# Other unwanted files
.DS_Store
